{
    "extends": "@react-native-community",
    "rules": {
        "quotes": [
            2,
            "double",
            {
                "avoidEscape": true
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "sigleQuote": true,
                "printWidth": 120,
                "endOfLine": "auto"
            }
        ]
    },
    "plugins": [
        //"html",
        "prettier"
    ]
}